@media (min-width: 1024px) {
  #img-lg {
    transform: translateX(calc((100vw - 1024px) / 2 + 590px)) translateY(-50%);
  }
}

@media (min-width: 1280px) {
  #img-lg {
    transform: translateX(calc((100vw - 1024px) / 2 + 380px)) translateY(-50%);
  }
}

@media (min-width: 1440px) {
  #img-lg {
    transform: translateX(calc((100vw - 1024px) / 2 + 400px)) translateY(-50%);
  }
}

@media (min-width: 1536px) {
  #img-lg {
    transform: translateX(calc((100vw - 1024px) / 2 + 400px)) translateY(-50%);
  }
}

